@use '/src/scss/variables.scss' as vars;
@use '/src/scss/defaults.scss';

.dropdown {
    position: relative;
    width: max-content;
    font-family: Arial, sans-serif;

    &__button {
        width: fit-content;
        height: 100%;
        padding: 10px;
        border: 0px;
        background-color: #0000;
        cursor: pointer;
        text-align: center;
        transition: background 0.3s ease-in-out;
        box-sizing: border-box;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    &__menu {
        position: absolute;
        top: 90%; // Размещаем под кнопкой
        left: 0;
        //width: fit-content; // Совпадает с кнопкой
        background: white;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 5px 5px 12px 12px;
        box-shadow: 4px 8px 14px rgba(0, 0, 0, 0.1);
        z-index: 35;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    &__menu.open {
        max-height: 200px; // Достаточно для списка
        opacity: 1;
        transform: scaleY(1);
    }

    &__item {
        padding: vars.$padding vars.$padding*4;
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: #f0f0f0;
        }
    }
}
