@use '/src/scss/variables.scss' as vars;
@use '/src/scss/defaults.scss';

.dropdown {
    position: relative;
    width: max-content;
    font-family: Arial, sans-serif;

    &__button {
        display: inline-flex; // Используем flex для выравнивания
        justify-content: center; // Центрируем содержимое
        align-items: center; // Центрируем содержимое по вертикали
        width: 100%; // Задаем ширину кнопки 100% относительно контейнера
        height: 50px; // Фиксированная высота
        padding: 0px 2em; // Увеличиваем горизонтальные отступы
        border: 0px;
        background-color: #0000;
        cursor: pointer;
        text-align: center;
        font-size: 2.5em; // Увеличиваем размер шрифта
        transition: background 0.3s ease-in-out;
        box-sizing: border-box;
        user-select: none; // Забороняємо виділення тексту в меню
        &:hover {
            background-color: #e0e0e0;
        }
    }

    &__menu {
        position: absolute;
        top: 100%; // Размещаем под кнопкой
        left: 0;
        display: flex;
        flex-direction: column; // Элементы меню по вертикали
        background: white;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 5px 5px 12px 12px;
        box-shadow: 4px 8px 14px rgba(0, 0, 0, 0.1);
        z-index: 35;
        width: 100%; // Задаем ширину меню на уровне кнопки
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
        user-select: none; // Забороняємо виділення тексту в меню
    }

    &__menu.open {
        max-height: 200px; // Достаточно для списка
        opacity: 1;
        transform: scaleY(1);
    }

    &__item {
        padding: vars.$padding vars.$padding*4;
        cursor: pointer;
        font-size: 2.0em; // Увеличиваем размер шрифта для элементов меню
        transition: background 0.3s ease-in-out;

        &:hover {
            background: #f0f0f0;
        }
    }
}
