.button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size: 2.0em;
  user-select: none; // Забороняємо виділення тексту в меню

  &:hover {
    background: #0056b3;
  }

  // Додаємо стиль для випадаючого списку
  .dropdown-menu {
    user-select: none;
  }
}
