// src/scss/main.scss
.home-page {
    text-align: center;
    margin-top: 50px;

    &__title {
        font-family: 'Arial', sans-serif;
        font-size: 3em;
        color: #34495e;
        display: inline-block;
        margin-top: 5px;
        text-align: center; /* Центрування тексту по горизонталі */
    }
}
